@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap'); 
/*font-family: 'Noto Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); /* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap'); /* font-family: 'EB Garamond', serif; */
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap'); /* font-family: 'Calistoga', cursive; */

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.clear{
	clear:both;
}
.clearfix::after{
	content:"";
	display:block;
	clear:both;
}
ul,ol{
	list-style-type:none;
}
a{
	text-decoration:none;
}
.head_in{
    width:100%;
    height:150px;
    z-index:2;
    float:left;
    -border:1px solid orange;
    position:absolute;
    margin:0 auto;
}
.head_in>div{ float:left;}
.h_left{-border:1px solid blue; width:15%; height:50px;}
.h_right{-border:3px solid hotpink; width:9%; height:50px;}
.h_middle{-border:1px solid greenyellow; width:76%; height:50px;}

#left_menu{-border:1px solid blue; width:180px; height:50px; position:relative; top:0; left:40px;}
#right_menu{-border:1px solid hotpink; width:130px; height:50px;}

#left_menu li{
    float:left;
    margin-right:10%;
}
#left_menu li a{
    display:block;
    color:#fff;
    font-size: 14px;
    font-family: 'Noto Sans';
    font-weight: 300;
    padding:2px;
}
#right_menu li{
    float:left;
    margin-right:15%;
}
#right_menu li a{
    display:block;
    color:#fff;
    font-size: 14px;
    font-family: 'Noto Sans';
    font-weight: 300;
    padding:2px;
}
#right_menu .fa-search{
    font-size: 14px;
    color:#fff;
    padding-top:8px;
}
#mainmenu{
    width:800px;
    height:50px;
    -border:1px solid red;
    margin:0 auto;
}
header #logo{
	width:100%;
    height:50px;
	text-indent:-999em;
    color:#fff;
    z-index: index 2;
    -border:1px solid hotpink;
    margin-bottom:15px;
}
#logo a{
    display: block;
    width:110px;
    height:50px;
    margin:0 auto;
    background:url("../image/LOGO-Kering-w.png")center center no-repeat;
	background-size:cover;
    -border:1px solid red;
    margin-top:15px;
}
#mainmenu li{
    float:left;
    width:130px;
    -border:1px solid gray;
    padding:12px 20px;
}
#mainmenu li:last-child{
    margin:0px;
}
#mainmenu li a{
    text-align: center;
    display:block;
    color:#fff;
    font-size: 0.8rem;
    font-family: 'Noto Sans';
    font-weight: 300;
    -border:1px solid red;
}
#mainmenu li:hover{
    background-color: #ede4dc;
}
#mainmenu li:hover a{
    color:#000;
}

/* submenu */

#left_menu .fa{
    display:none;
}
#submenu{
    display:none;
}

/* main */
#main{
    width:100%;
    height:500px;
    background: url("../image/40-rue-de-Sevres-Cour-saint-Louis-detail.jpg") center center no-repeat;
    background-size: cover;
    overflow: hidden;
}
#main .cover{
    width:100%;
    height:500px;
    background-color: rgba(0,0,0,0.4);
    position:absolute;
}
.main_in{
    width:40%;
    height:40%;
    position: relative;
    top:180px;
    left:calc(50% - 20vw);
    -border:1px solid rebeccapurple;
    color:#fff;
    text-align: center;
}
.main_in h2{
    font-size: 35px;
    font-family:'EB Garamond' ;
    font-weight: 400;
    margin-bottom:30px;
}
.main_in h2::after{
    content:"";
    display: block;
    width:200px;
    height: 1.5px;
    background-color: #fff;
    margin-top:15px;
    position:relative;
    left:calc(50% - 100px);
}
.main_in p{
    width:450px;
    font-size: 15px;
    font-family: 'Noto Sans';
    font-weight: 300;
    -border:1px solid red;
    margin:0 auto;
}

/* sect1 */

#sect1{
    width:100%;
    height:380px;
}
#sect1 a{
    display: block;
    color:#000;
}
.sect_in{
    width:70%;
    height:80%;
    -border:1px solid blue;
    margin:0 auto;
    text-align: center;
    margin-top:50px;
}
.sect_in h2{
    font-size: 32px;
    font-family:'EB Garamond' ;
    font-weight: 400;
    margin-bottom:50px;
}
.sect_in h2::after{
    content:"";
    display: block;
    width:200px;
    height: 1.5px;
    background-color: #000;
    margin-top:30px;
    position:relative;
    left:calc(50% - 8%);
}
.sect_in p{
    width:70%;
    margin:0 auto;
    font-size: 23px;
    font-family:'EB Garamond' ;
    font-weight: 300;
}
.sect_in h3{
    font-size: 15px;
    font-family: 'Noto Sans';
    font-weight: 300;
    border:1px solid #000;
    width:200px;
    height:50px;
    padding-top:13px;
    margin:0 auto;
    margin-top:50px;
}

/* sect2 */

#sect2{
    width:100%;
    height:590px;
    -border:1px solid orange;
    -overflow: hidden;
}
.sect2_in{
    width:100%;
    height:100%;
    -position:relative;
    -border:1px solid blue;
    margin:0 auto;
    text-align: center;
    margin-bottom:20px;
}
.title{
    font-size: 32px;
    font-family:'EB Garamond' ;
    font-weight: 400;
    margin-bottom:40px;
}
.sect2_in p{
    width:40%;
    margin:0 auto;
    font-size: 15px;
    font-family: 'Noto Sans';
    font-weight: 350;
    margin-bottom: 30px;
}
.sect_box{
    width:100%;
    height:460px;
    background-color: #ede4dc;
    -border:1px solid green;
}
.box_in{
    width:70%;
    height:370px;
    -border:1px solid red;
    margin:0 auto;
}
.box_in .box{
    width:50%;
    height:370px;
    -border:1px solid olive;
    float:left;
    margin-top:40px;
}
.box:first-child{
    background:url("../image/586x352-desktop-group-slider-empowering-imagination.jpg") center center no-repeat;
    background-size: cover;
}
.box:last-child{
    background-color: #fff;
}
.box h2{
    height:40px;
    font-family:'EB Garamond' ;
    font-size:24px;
    font-weight: 400;
    margin-top:70px;
    margin-bottom:20px;
    -border: 1px solid red;
}
.box p{
    width:280px;
    font-size:14px;
    -border: 1px solid red;
}
.box h3{
    font-size: 13px;
    font-family: 'Noto Sans';
    font-weight: 300;
    border:1px solid #000;
    width:180px;
    height:40px;
    padding-top:11px;
    margin:0 auto;
    margin-top:40px;
}
#sect2 a{
    display: block;
    color:#000;
}

/* sect3 */
#sect3{
    width:70%;
    height:300px;
    -border:1px solid red;
    margin:0 auto;

    background: url("../image/Women-In-Motion-.jpg") 0% 20% no-repeat;
    background-size: cover;

    text-align: center;
    color:#fff;

    margin-top:80px;
    margin-bottom:30px;
}
#sect3 a{
    display: block;
    color:#fff;
    height:100%;
}
#sect3 .cover h2{
    font-size: 32px;
    font-family:'EB Garamond' ;
    font-weight: 400;
    margin-bottom:20px;
    padding-top:60px;
}
#sect3 .cover p{
    width:40%;
    margin:0 auto;
    font-size: 15px;
    font-family: 'Noto Sans';
    font-weight: 300;
    margin-bottom: 30px;
}
#sect3 .cover h3{
    font-size: 13px;
    font-family: 'Noto Sans';
    font-weight: 300;
    border:1px solid #fff;
    width:180px;
    height:40px;
    padding-top:11px;
    margin:0 auto;
    margin-top:20px;
}
.cover{
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.black:hover .cover{
    transform: translate(background-color);
    background-color: rgba(0, 0, 0, 0.6);
    transition-duration: 1s;
}

/* sect4 */
#sect4{
    width:100%;
    height:530px;
    text-align: center;
}
#sect4 h2{
    font-size: 34px;
    font-family:'EB Garamond' ;
    font-weight: 400;
    margin-bottom:20px;
    padding-top:20px;
}
#sect4 h3{
    font-size: 16px;
    font-family: 'Noto Sans';
    font-weight: 300;
    width:25%;
    margin:0 auto;
    margin-bottom: 40px;
}
#sect4 .content{
    width:80%;
    height:250px;
    -border:1px solid blueviolet;
    margin:0 auto;
}
.cont{
    width:23%;
    height:100%;
    -border:1px solid green;
    float:left;
    margin-right:15px;
}
.cont:nth-child(1){
    background: url("../image/296173970_979922163401875_2086276496585170300_n.jpg") center center no-repeat;
    background-size: cover;
}
.cont:nth-child(2){
    background: url("../image/295974556_573617621134751_5815865262778117825_n.jpg") center center no-repeat;
    background-size: cover;
}
.cont:nth-child(3){
    background: url("../image/298440317_445237034196627_7178550461150759257_n.jpg") center center no-repeat;
    background-size: cover;
}
.cont:nth-child(4){
    background: url("../image/302164000_2641042302692504_578118073291655874_n.jpg") 80% 50% no-repeat;
    background-size: cover;
    margin-right:0px;
}

/* footer */
footer{
    width:100%;
    height:300px;
    background-color: #ede4dc;
    -border:1px solid red;
}
.footer_in{
    width:100%;
    height:300px;
    -border:1px solid orange;
    position: absolute;
}
.f_logo{
    width:150px;
    height:auto;
    -border:1px solid red;
    margin:0 auto;
    background:url('../image/LOGO-Kering.svg') center center no-repeat;
    background-size: 75%;
    text-indent: -999em;
    padding-top:50px;
}
.f_sns{
    width:300px;
    height:auto;
    margin:0 auto;
    -border:1px solid orange;
    margin-bottom: 25px;
    font-size: 17px;
}
.sns_in{
    width:100%;
    height:auto;
}
.sns_in .fa{
    -border: 1px solid red;
    font-size:22px;
    margin:15px 10px;
}
.f_list li{
    float: left;
    padding:5px;
    margin-top:20px;
    margin-right:40px;
    -border: 1px solid red;
}
.f_list li:first-child{
    margin-left:30px;
}
.f_list li:last-child{
    margin-right:0px;
}
.f_list li a{
    display:block;
    color: #000;
    text-align: center;
    font-size: 15px;
    font-family: 'Noto Sans';
    font-weight: 400;
}
.f_list{
    width:850px;
    height:70px;
    border:1px solid black;
    border-left:none;
    margin:0 auto;
    border-right:none;
}
footer address{
    text-align: center;
    font-style: normal;
    font-size: 15px;
    font-family:'Roboto' ;
    font-weight: 400;
    margin-top:30px;
}





/* asdfsfsdsdfsdfsdfhbsdhfjvabhjdsbfghjadsg*/


@media all and (max-width:760px){
    html{font-size: 10px;}
    #mainmenu li a {display: none;}
    .join{display:none;}
    #left_menu li:nth-child(1){display:none;}

}
@media all and (max-width:900px){
    html{font-size: 12px;}
#mainmenu{font-size: 0.6rem;}
#mainmenu li:first-child{
    margin-left:0;
}
}
@media all and (max-width:1300px){
    html{font-size: 14px;}
    #right_menu li a{font-size:1rem;}
    #left_menu li a{font-size:1rem;}
    header #logo{background-size: 80%;}
}