@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap'); 
/*font-family: 'Noto Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); /* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap'); /* font-family: 'EB Garamond', serif; */
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap'); /* font-family: 'Calistoga', cursive; */

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.clear{
	clear:both;
}
.clearfix::after{
	content:"";
	display:block;
	clear:both;
}
ul,ol{
	list-style-type:none;
}
a{
	text-decoration:none;
}
.head_in{
    width:100%;
    height:150px;
    z-index:2;
    float:left;
    -border:1px solid orange;
    position:absolute;
    margin:0 auto;
}
.head_in>div{ float:left;}
.h_left{-border:1px solid blue; width:15%; height:50px;}
.h_right{-border:3px solid hotpink; width:9%; height:50px;}
.h_middle{-border:1px solid greenyellow; width:76%; height:50px;}

#left_menu{-border:1px solid blue; width:180px; height:50px; position:relative; top:0; left:40px;}
#right_menu{-border:1px solid hotpink; width:130px; height:50px;}

#left_menu li{
    float:left;
    margin-right:10%;
}
#left_menu li a{
    display:block;
    color:#fff;
    font-size: 14px;
    font-family: 'Noto Sans';
    font-weight: 300;
    padding:2px;
}
#right_menu li{
    float:left;
    margin-right:15%;
}
#right_menu li a{
    display:block;
    color:#fff;
    font-size: 14px;
    font-family: 'Noto Sans';
    font-weight: 300;
    padding:2px;
}
#right_menu .fa-search{
    font-size: 14px;
    color:#fff;
    padding-top:8px;
}
#mainmenu{
    width:800px;
    height:50px;
    -border:1px solid red;
    margin:0 auto;
}
header #logo{
	width:100%;
    height:50px;
	text-indent:-999em;
    color:#fff;
    z-index: index 2;
    -border:1px solid hotpink;
    margin-bottom:15px;
}
#logo a{
    display: block;
    width:110px;
    height:50px;
    margin:0 auto;
    background:url("../image/LOGO-Kering-w.png")center center no-repeat;
	background-size:cover;
    -border:1px solid red;
    margin-top:15px;
}
#mainmenu li{
    float:left;
    width:130px;
    -border:1px solid gray;
    padding:12px 20px;
}
#mainmenu li:last-child{
    margin:0px;
}
#mainmenu li a{
    text-align: center;
    display:block;
    color:#fff;
    font-size: 0.8rem;
    font-family: 'Noto Sans';
    font-weight: 300;
    -border:1px solid red;
}
#mainmenu li:hover{
    background-color: #ede4dc;
}
#mainmenu li:hover a{
    color:#000;
}

/* submenu */

#left_menu .fa{
    display:none;
}
#submenu{
    display:none;
}

/* main */

#main{
    width:100%;
    height:500px;
    background: url("../image/saintlaurentAH22defile1760x644.png") center center no-repeat;
    background-size: cover;
    overflow: hidden;
}
#main .cover{
    width:100%;
    height:500px;
    background-color: rgba(0,0,0,0.4);
    position:absolute;
}
.main_in{
    width:40%;
    height:40%;
    position: relative;
    top:180px;
    left:calc(50% - 20vw);
    -border:1px solid rebeccapurple;
    color:#fff;
    text-align: center;
}
.main_in h2{
    font-size: 35px;
    font-family:'EB Garamond' ;
    font-weight: 400;
    margin-bottom:30px;
}
.main_in h2::after{
    content:"";
    display: block;
    width:200px;
    height: 1.5px;
    background-color: #fff;
    margin-top:15px;
    position:relative;
    left:calc(50% - 100px);
}
.main_in p{
    width:450px;
    font-size: 15px;
    font-family: 'Noto Sans';
    font-weight: 300;
    -border:1px solid red;
    margin:0 auto;
}


/* sect */

#sect1{
    width:100%;
    height:430px;
    -border:1px solid red;
}
.sect_in{
    width: 100%;
    height:100%;
}
.sect_in div{
    float:left;
}
.txt-box{
    width: 35%;
    height:280px;
    -border:1px solid orange;
    text-align: center;
    margin-top:45px;
}
.txt-box h2{
    font-size: 26px;
    font-family:'EB Garamond' ;
    font-weight: 500;
    margin-top:70px;
    margin-bottom:20px;
}
.txt-box p{
    font-size: 15px;
    font-family: 'Noto Sans';
    width:70%;
    margin:0 auto;
    margin-bottom:30px;
}
.txt-box h3{
    border:1px solid #000;
    font-size: 13px;
    font-family: 'Noto Sans';
    font-weight: 300;
    width:180px;
    height:40px;
    padding-top: 11px;
    margin:0 auto;
    margin-top:30px;
    cursor: pointer;
}

.slide-box{
    -border:1px solid green;
    width:65%;
    height:100%;
}
.slide-in{
    width:100%;
    height:250px;
    -border:1px solid hotpink;
    margin-top:90px;
}
.slide-in div{
    float:left;
}
.x-slide{
    width:calc(100% / 3);
    height:250px;
    -border:1px solid blue;
}
/*
width:305px;
height:200px;
*/
#sect1 .x-slide:nth-child(1){
    background:url("../image/AMcQueen_mai2021_houses_carrousel_desktop_444x287.jpg") center center no-repeat;
    background-size: 100%;
}
#sect1 .x-slide:nth-child(2){
    background:url("../image/BRIONI_HOUSESCARROUSEL-DESKTOP_MARS_444x287.jpg") center center no-repeat;
    background-size: 100%;
}
#sect1 .x-slide:nth-child(3){
    background:url("../image/SaintlaurentHouse-Carousel_Desktop06-07-22.jpg") center center no-repeat;
    background-size: 100%;
}

/* sect2 */

#sect2{
    width:100%;
    height:430px;
    background-color: #ede4dc;
    -border:1px solid red;
}
#sect2 .sect_in{
    width: 100%;
    height:100%;
}
#sect2 .sect_in div{
    float:right;
}
#sect2 .x-slide:nth-child(1){
    background:url("../image/qeelin_houses_carrousel_asset_desktop_444x287.jpg") center center no-repeat;
    background-size: 100%;
}
#sect2 .x-slide:nth-child(2){
    background:url("../image/dodo_mai2021_houses_carousel_desktop_444x287.jpg") center center no-repeat;
    background-size: 100%;
}
#sect2 .x-slide:nth-child(3){
    background:url("../image/boucheron_houses_carrousel_asset_desktop_444x287.jpg") center center no-repeat;
    background-size: 100%;
}

/* sect3 */

#sect3{
    width:100%;
    height:430px;
    -border:1px solid red;
}
#sect3 .x-slide:nth-child(1){
    background:url("../image/Boucheron_Houses_Carrousel_Asset_DESKTOP_444x287px5.jpg") center center no-repeat;
    background-size: 100%;
}
#sect3 .x-slide:nth-child(2){
    background:url("../image/Brioni_Houses_Carrousel_Asset_DESKTOP_444x287px6.jpg") center center no-repeat;
    background-size: 100%;
}
#sect3 .x-slide:nth-child(3){
    background:url("../image/dunhill_Houses_Carrousel_Asset_DESKTOP_444x287px8.jpg") center center no-repeat;
    background-size: 100%;
}

/* news */

#news{
    width:100%;
    height:700px;
    -border:1px solid red;
    -overflow: hidden;
}

#news h2{
    font-size:28px;
    font-family:'EB Garamond' ;
    font-weight: 500;
    text-align: center;
    margin-top:30px;
    margin-bottom:30px;
}
#cont{
    width:80%;
    height:450px;
    -border:1px solid orange;
    margin: 0 auto;
    margin-bottom: 30px;
}
.m_cont{
    float:left;
    -border:1px solid green;
    width:22%;
    height:70%;
    margin:10px 15px;
}
.m_cont:nth-child(1){
    background:url("../image/AMcQueen_mai2021_job_offers_320x320.jpg") center center no-repeat;
    background-size: 100%;
}
.m_cont:nth-child(2){
    background:url("../image/BottegaVenetaJobOffer270722.jpg") center center no-repeat;
    background-size: 100%;
}
.m_cont:nth-child(3){
    background:url("../image/GUCCI_JOBOFFER_MARS_320x320.jpg") center center no-repeat;
    background-size: 100%;
}
.m_cont:nth-child(4){
    background:url("../image/Push-Job-Offer-Boucheron.jpg") center center no-repeat;
    background-size: 100%;
    margin-right:0px;
}
.m_cont p{
    -border:1px solid blue;
    margin-top:330px;
    font-size: 15px;
    font-family: 'Noto Sans';
    margin-bottom:20px;
}
.m_cont h4{
    font-size: 18px;
    font-family:'EB Garamond' ;
    font-weight: 500;
}
#news h3{
    font-size: 14px;
    font-family: 'Noto Sans';
    font-weight: 300;
    border:1px solid #000;
    width:200px;
    height:50px;
    padding-top:13px;
    text-align: center;
    margin:0 auto;
}





/* footer */
footer{
    width:100%;
    height:300px;
    background-color: #ede4dc;
    -border:1px solid red;
}
.footer_in{
    width:100%;
    height:300px;
    -border:1px solid orange;
    position: absolute;
}
.f_logo{
    width:150px;
    height:auto;
    -border:1px solid red;
    margin:0 auto;
    background:url('../image/LOGO-Kering.svg') center center no-repeat;
    background-size: 75%;
    text-indent: -999em;
    padding-top:50px;
}
.f_sns{
    width:300px;
    height:auto;
    margin:0 auto;
    -border:1px solid orange;
    margin-bottom: 25px;
    font-size: 17px;
}
.sns_in{
    width:100%;
    height:auto;
}
.sns_in .fa{
    -border: 1px solid red;
    font-size:22px;
    margin:15px 10px;
}
.f_list li{
    float: left;
    padding:5px;
    margin-top:20px;
    margin-right:40px;
    -border: 1px solid red;
}
.f_list li:first-child{
    margin-left:30px;
}
.f_list li:last-child{
    margin-right:0px;
}
.f_list li a{
    display:block;
    color: #000;
    text-align: center;
    font-size: 15px;
    font-family: 'Noto Sans';
    font-weight: 400;
}
.f_list{
    width:850px;
    height:70px;
    border:1px solid black;
    border-left:none;
    margin:0 auto;
    border-right:none;
}
footer address{
    text-align: center;
    font-style: normal;
    font-size: 15px;
    font-family:'Roboto' ;
    font-weight: 400;
    margin-top:30px;
}